In [3]:
# variable assignment, empty space, and writing our own programs
def fv_f(pv,r,n):
    return pv*(1+r)**n

fv_f(100,0.1,2)

121.00000000000001

In [6]:
round(fv_f(100,0.02,20),2)

148.59

In [7]:
# If some comments are added by explaining the meanings of input variables, 
# the formula used, plus a few examples, it will be extremely helpful for other users or programmers. 
# Check the following program with comments:

def pv_f(fv,r,n):
    """Objective: estimate present value
                     fv
    formula  : pv=-------------
                   (1+r)^n
          fv: future value
          r : discount periodic rate
          n : number of periods

    Example #1  >>>pv_f(100,0.1,1)
                   90.9090909090909
    
    Example #2: >>>pv_f(r=0.1,fv=100,n=1)
                    90.9090909090909
    """
    return fv/(1+r)**n

In [9]:
help(pv_f)

Help on function pv_f in module __main__:

pv_f(fv, r, n)
    Objective: estimate present value
                     fv
    formula  : pv=-------------
                   (1+r)^n
          fv: fture value
          r : discount periodic rate
          n : number of periods

    Example #1  >>>pv_f(100,0.1,1)
                   90.9090909090909

    Example #2: >>>pv_f(r=0.1,fv=100,n=1)
                    90.9090909090909

In [10]:
# loops
import numpy as np
cashFlows=np.array([-100,50,40,30])
for cash in cashFlows:
    print(cash)

-100
50
40
30

In [12]:
# Assuming that we invest $100 today and $30 next year, the future cash inflow will be 
# $10, $40, $50, $45, and $20 at the end of each year for the next 5 years, 
# starting at the end of the second year; see the following timeline and its corresponding cash flows:

# -100    -30       10       40        50         45       20
# |--------|---------|--------|---------|----------|--------|
# 0        1         2        3         4          5        6

In [13]:
# What is the Net Present Value (NPV) if the discount rate is 3.5%? NPV is defined as 
# the present values of all benefits minus the present values of all costs. If a cash inflow has a positive sign 
# while a cash outflow has a negative sign, then NPV can be defined conveniently as the summation of 
# the present values of all cash flows.

def npv_f(rate, cashflows):
       total = 0.0
       for i in range(0,len(cashflows)):
             total += cashflows[i] / (1 + rate)**i
       return total

In [14]:
r=0.035
cashflows=[-100,-30,10,40,50,45,20]

npv_f(r,cashflows)

14.158224763725372

In [15]:
# Here is another npv_f() function with a function called enumerate(). 
# This function willgenerate a pair of indices, starting from0, and its corresponding value:

def npv_f(rate, cashflows):
      total = 0.0
      for i, cashflow in enumerate(cashflows):
               total += cashflow / (1 + rate)**i
      return total

In [16]:
npv_f(r,cashflows)

14.158224763725372

In [17]:
# Unlike the npv_f function specified previously, the NPV function from Microsoft Excel is actually a 
# PV function, meaning that it can be applied only to the future values. 
# Its equivalent Python program, which is called npv_Excel, is shown here:

def npv_Excel(rate, cashflows):
       total = 0.0
       for i, cashflow in enumerate(cashflows):
                total += cashflow / (1 + rate)**(i+1)
       return total

In [23]:
npv_Excel(r,cashflows[1:7])+cashflows[0]

14.158224763725372

In [24]:
# By using a loop, we can repeat the same task with different inputs. For example, 
# we plan to print a set of values. The following is such an example for a while loop:

i=1
while(i<10):
      print(i)
      i+=1

1
2
3
4
5
6
7
8
9

In [25]:
# The following program will report a discount (or any number of discount rates), 
# making its corresponding NPV equal zero. Assume the cash flow will be 
# 550, -500, -500, -500, and 1000 at time 0, at the end of each year of the next 4 years. 

cashFlows=(550,-500,-500,-500,1000)
r=0
while(r<1.0):
     r+=0.000001
     npv=npv_f(r,cashFlows)
     if(abs(npv)<=0.0001):
            print(r)

0.07163900000005098
0.33673299999790873

In [4]:
# reading files; open, read, shut
f=open("./test.txt","r")
x=f.read() # stores file contents into variable
f.close()

In [5]:
print(x) # reads from file

a b
1 2
3 4

In [ ]:
# For the second example, let's download the daily historical price for IBM from Yahoo!Finance

In [ ]:
# The first line shows the variable names: date, open price, high price achieved during the trading day, 
# low price achieved during the trading day, close price of the last transaction during the trading day, 
# trading volume, and adjusted price for the trading day. The delimiter is a comma. There are several 
# ways of loading the text file. Some methods are discussed here:

In [6]:
# Method 1: We could use read_csv from the pandas module:

import pandas as pd
x=pd.read_csv("./ibm.csv")
x[1:3]

,Date,Open,High,Low,Close,Adj Close,Volume
1,2020-12-30,118.355644,119.359467,118.193115,118.871895,113.177544,3535794
2,2020-12-31,118.757172,120.487572,118.537285,120.344170,114.579292,3738822

In [10]:
# Method 2: We could use read_table from the pandas module; see the following code:

import pandas as pd
x=pd.read_table("./ibm.csv",sep=',')
x[1:3]

,Date,Open,High,Low,Close,Adj Close,Volume
1,2020-12-30,118.355644,119.359467,118.193115,118.871895,113.177544,3535794
2,2020-12-31,118.757172,120.487572,118.537285,120.344170,114.579292,3738822

In [8]:
# Alternatively, we could download the IBM daily price data directly from the Yahoo!Finance API; 
# see the following code:

import yfinance as yf
x=yf.Ticker("IBM")
print(x.info)

{'zip': '10504', 'sector': 'Technology', 'fullTimeEmployees': 345900, 'longBusinessSummary': "International Business Machines Corporation provides integrated solutions and services worldwide. Its Cloud & Cognitive Software segment offers software for vertical and domain-specific solutions in various application areas; and customer information control system and storage, and analytics and integration software solutions to support client mission on-premise workloads in banking, airline, and retail industries. It offers middleware and data platform software, including Red Hat that enables the operation of clients' hybrid multi-cloud environments; and Cloud Paks, WebSphere distributed, and analytics platform software, such as DB2 distributed, information integration, and enterprise content management, as well as IoT, Blockchain and AI/Watson platforms. The company's Global Business Services segment offers business consulting services; system integration, application management, maintenance, and support services for packaged software; and finance, procurement, talent and engagement, and industry-specific business process outsourcing services. Its Global Technology Services segment provides IT infrastructure and platform services; and project, managed, outsourcing, and cloud-delivered services for enterprise IT infrastructure environments; and IT infrastructure support services. The company's Systems segment offers servers for businesses, cloud service providers, and scientific computing organizations; data storage products and solutions; and z/OS, an enterprise operating system, as well as Linux. Its Global Financing segment provides lease, installment payment, loan financing, short-term working capital financing, and remanufacturing and remarketing services. It has a collaboration with GK Software SE to enhance retail innovation and customer omnichannel experience with hybrid cloud technology; and with Apptio, Inc. The company was formerly known as Computing-Tabulating-Recording Co. The company was incorporated in 1911 and is headquartered in Armonk, New York.", 'city': 'Armonk', 'phone': '914 499 1900', 'state': 'NY', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.ibm.com', 'maxAge': 1, 'address1': 'One New Orchard Road', 'industry': 'Information Technology Services', 'ebitdaMargins': 0.21030001, 'profitMargins': 0.06401, 'grossMargins': 0.48443002, 'operatingCashflow': 16112000000, 'revenueGrowth': 0.003, 'operatingMargins': 0.119849995, 'ebitda': 15658999808, 'targetLowPrice': 115, 'recommendationKey': 'buy', 'grossProfits': 35575000000, 'freeCashflow': 12530875392, 'targetMedianPrice': 145, 'currentPrice': 133.925, 'earningsGrowth': -0.338, 'currentRatio': 0.836, 'returnOnAssets': 0.03739, 'numberOfAnalystOpinions': 17, 'targetMeanPrice': 145.17, 'debtToEquity': 263.801, 'returnOnEquity': 0.21405001, 'targetHighPrice': 170, 'totalCash': 8055000064, 'totalDebt': 58978000896, 'totalRevenue': 74461003776, 'totalCashPerShare': 8.982, 'financialCurrency': 'USD', 'revenuePerShare': 83.234, 'quickRatio': 0.65, 'recommendationMean': 2.5, 'exchange': 'NYQ', 'shortName': 'International Business Machines', 'longName': 'International Business Machines Corporation', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EST', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-18000000', 'quoteType': 'EQUITY', 'symbol': 'IBM', 'messageBoardId': 'finmb_112350', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 2.283, 'beta3Year': None, 'enterpriseToEbitda': 10.856, '52WeekChange': 0.11573899, 'morningStarRiskRating': None, 'forwardEps': 10.3, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 896320000, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 24.786, 'sharesShort': 22951540, 'sharesPercentSharesOut': 0.0256, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.57852, 'netIncomeToCommon': 4675999744, 'trailingEps': 5.283, 'lastDividendValue': 1.64, 'SandP52WeekChange': 0.2825023, 'priceToBook': 5.403252, 'heldPercentInsiders': 0.00131, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1632960000, 'shortRatio': 4.18, 'sharesShortPreviousMonthDate': 1636934400, 'floatShares': 895221981, 'beta': 1.103896, 'enterpriseValue': 169994633216, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1635984000, 'lastSplitFactor': '1046:1000', 'legalType': None, 'lastDividendDate': 1636416000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': -0.335, 'priceToSalesTrailing12Months': 1.6121144, 'dateShortInterest': 1639526400, 'pegRatio': 1.96, 'ytdReturn': None, 'forwardPE': 13.002427, 'lastCapGain': None, 'shortPercentOfFloat': 0.0256, 'sharesShortPriorMonth': 24176357, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 132.63, 'regularMarketOpen': 132.4, 'twoHundredDayAverage': 131.53975, 'trailingAnnualDividendYield': 0.04931011, 'payoutRatio': 1.2625, 'volume24Hr': None, 'regularMarketDayHigh': 134.21, 'navPrice': None, 'averageDailyVolume10Day': 5347370, 'regularMarketPreviousClose': 132.63, 'fiftyDayAverage': 122.51004, 'trailingAnnualDividendRate': 6.54, 'open': 132.4, 'toCurrency': None, 'averageVolume10days': 5347370, 'expireDate': None, 'algorithm': None, 'dividendRate': 6.56, 'exDividendDate': 1636416000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 132.3, 'currency': 'USD', 'trailingPE': 25.35018, 'regularMarketVolume': 1838299, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 120039661568, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 6130944, 'dayLow': 132.3, 'ask': 133.96, 'askSize': 800, 'volume': 1838299, 'fiftyTwoWeekHigh': 146.11855, 'fromCurrency': None, 'fiveYearAvgDividendYield': 4.54, 'fiftyTwoWeekLow': 112.19885, 'bid': 133.92, 'tradeable': False, 'dividendYield': 0.0495, 'bidSize': 900, 'dayHigh': 134.21, 'regularMarketPrice': 133.925, 'preMarketPrice': 132.31, 'logo_url': 'https://logo.clearbit.com/ibm.com'}

In [9]:
print(x.history(period="5d"))

                  Open        High         Low       Close   Volume  \
Date
2021-12-22  129.059998  129.789993  127.599998  129.750000  3923200
2021-12-23  130.000000  130.960007  129.520004  130.630005  3648400
2021-12-27  130.630005  131.649994  129.949997  131.619995  4293900
2021-12-28  131.600006  133.220001  131.589996  132.630005  3445200
2021-12-29  132.399994  134.210007  132.300003  133.910004  1840198

            Dividends  Stock Splits
Date
2021-12-22          0             0
2021-12-23          0             0
2021-12-27          0             0
2021-12-28          0             0
2021-12-29          0             0

In [2]:
# We could retrieve data from an Excel file by using the ExcelFile() function from the pandas module. 
# First, we download an Excel file from FactSet
import pandas as pd
infile=pd.ExcelFile("./excelFile.xlsx")
x=infile.parse("Sheet1")
x

           52 Week Range $112.10 - 145.99
0   Avg Daily Vol (3 Mo)          5947047
1       Basic Shares (M)            896.8
2         Market Cap (B)            118.9
3         Dividend Yield            0.049
4     First Trading Date       21 Jan '72
5      FD Shares Out (M)            917.2
6         FD Mkt Cap (B)            121.7
7                 EV (B)            174.9
8                   WACC            0.046
9                  Float            0.999
10         Institutional            0.583
11     Top 10 Inst Hldrs            0.264
12   Broker Contributors               18
13            Avg Rating      Hold (1.78)
14          Target Price           142.07
15        LT Growth Rate            0.069